.description {
  display: flex;
  gap: 40px;
}

.description__image {
  width: 350px;
  height: 350px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--accent-color);
}

.price {
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}

.quantity {
  display: flex;
  gap: 20px;
  align-items: center;
}

.quantity__widget {
  border: 1px solid gray;
  padding: 6px;
}

.quantity__num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 30px;
}
