.description {
  display: flex;
  gap: 40px;
}

.description__image {
  width: 350px;
  height: 350px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--accent-color);
}

.buttons {
  display: flex;
  gap: 30px;
}
