.quantityButton {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: transform var(--primary-animation);
}

.quantityButton:hover,
.quantityButton:focus {
  transform: scale(1.03);
}

.minus {
  composes: quantityButton;
  color: red;
}

.plus {
  composes: quantityButton;
  color: green;
}
