.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}

.footer__icons {
  display: flex;
  gap: 10px;
  font-size: 30px;
}
