@media (min-width: 320px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .description__image {
    width: 100%;
    height: auto;
  }

  .description__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .description {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .description__image {
    width: 600px;
    height: 600px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}

.images {
  border-radius: 8px;
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.isSelected {
  background-color: var(--accent-color);
}
