/* Sets custom CSS variables */
:root {
  --primary-font-size: 16px;
  --primary-font-weight: 400;
  --primary-line-height: 20px;
  --primary-letter-spacing: -0.02em;
  --primary-color: black;
  --secondary-color: white;
  --accent-color: blue;
  --hover-color: orangered;
  --primary-background-color: white;
  --secondary-background-color: black;
  --primary-animation: 300ms ease-in-out;
  --secondary-animation: 600ms ease-in-out;
}

/* Sets default settings for the body */
html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif, serif;
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-color);
}

/* Specifies box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removes padding */
ul,
ol,
button {
  padding: 0;
}

/* Removes margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input {
  margin: 0;
}

/* Removes default styling for all ul and li */
ul,
ol {
  list-style: none;
}

/* Resets links to the default styles */
a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

/* Specifies images settings */
img {
  max-width: 100%;
  display: block;
}

/* Inherits fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
